html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
body {
  background: #ffffff;
  color: var(--primari-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.container {
  /* outline: 2px solid black; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* logo */
.logo {
  margin-right: 86px;

  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo-title {
  color: var(--accent-color);
}

.page-head .container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
/* site-nav */
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .item {
  position: relative;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  margin-top: 27px;
  background: #2196f3;
  border-radius: 2px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

/* contact-nav */
.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .item:not(:last-child) {
  margin-right: 30px;
}

.contact-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primari-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
  --color5: var(--accent-color);
}
.contact-nav .icon-mail {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: currentColor;
}
.contact-nav .icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

/* hero */

.overlay {
  /* outline: 2px solid black; */
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/Header-img\ .jpg");
  background-size: cover;
  background-position: center;
}
.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 46px;
  padding-top: 200px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .link {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  margin-bottom: 200px;
  border-radius: 4px;

  color: #ffffff;
  background: var(--accent-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.hero .link:focus,
.hero link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* характеристики */

.container .characteristic {
  display: flex;

  padding-top: 94px;
  padding-bottom: 94px;
}

.characteristic .item {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
}
.characteristic .item:nth-child(4) {
  margin-right: 0;
}
.characteristic .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.characteristic .antenna {
  width: 67px;
  height: 70px;
}
.characteristic .clock {
  width: 67px;
  height: 70px;
}
.characteristic .diagram {
  width: 67px;
  height: 70px;
}
.characteristic .astronaut {
  width: 67px;
  height: 70px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* наши проекты */

.project-list {
  display: flex;
  margin-top: 50px;
  padding-bottom: 94px;
}
.project .item {
  position: relative;
  width: calc((100%-60px) / 3);
  margin-right: 30px;
}
.project .item:last-child {
  margin-right: 0;
}

.project .text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding: 27px 90px;
  border-radius: 0px 0px 4px 4px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}

.project-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 1.16;
}
/* наша команда */
.team {
  background: #f5f4fa;
}
.team .list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 94px;
}
.team .item {
  width: 270px;
  height: 422px;
  width: calc((100%-90px) / 4);
  margin-right: 30px;
  text-align: center;
  background: #ffffff;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.team .item:nth-child(4) {
  margin-right: 0;
}

.team-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 1.16;
}
.team-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
}
.team .social {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.team .link {
  margin-left: 10px;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team .link:hover,
.team .link:focus {
  background: var(--accent-color);
  --color3: #ffffff;
}
.team .icon {
  width: 20px;
  height: 20px;
}

/* клиенты */
.clients .container {
  padding-top: 94px;
}
.clients-title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 1.16;
}
.clients-list {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 94px;
}

.clients .icon-1 {
  width: 45px;
  height: 50px;
}
.clients .icon-2 {
  width: 40px;
  height: 52px;
}
.clients .icon-3 {
  width: 41px;
  height: 43px;
}
.clients .icon-4 {
  width: 80px;
  height: 42px;
}
.clients .icon-5 {
  width: 59px;
  height: 47px;
}
.clients .icon-6 {
  width: 89px;
  height: 46px;
}

.clients .item:hover,
.clients .item:focus {
  border: 1px solid #2196f3;
  --color3: var(--accent-color);
}

.clients .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

/* portfolio page */
.button {
  display: flex;
  justify-content: center;
  padding-top: 93px;
}
.section-button {
  min-width: 73px;
  height: 38px;
  border: 1px solid #ececec;
  border-radius: 4px;
  background: #f5f4fa;

  color: var(--title-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.section-button:not(:last-child) {
  margin-right: 8px;
}
.section-button:hover,
.section-button:focus {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.section-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  opacity: 1;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 94px;
}
.portfolio .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
}
.portfolio .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-link {
  display: block;
  text-decoration: none;
}
.portfolio .item:hover,
.portfolio .item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio .item:hover .animation,
.portfolio .item:focus .animation {
  opacity: 1;
  transform: translateY(-100%);
}
.card-block {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  /* border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; */
}
.card-image {
  position: relative;
  display: block;
  overflow: hidden;
}
.animation {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  color: var(--primari-text-color);
}
/* footer */
.footer-page {
  background: #2f303a;
}
.footer-page .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-page .social {
  display: flex;
  justify-content: space-between;
}
.footer-page .link {
  height: 44px;
  width: 44px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page .link:hover,
.footer-page .link:focus {
  background: var(--accent-color);
}
.footer-page .icon {
  width: 20px;
  height: 20px;
  --color3: #ffffff;
}
.footer-logo {
  display: block;
  padding-top: 48px;
  padding-bottom: 10px;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
}
.footer-title {
  color: var(--accent-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.footer-subtitle {
  margin-top: 0;
  margin-bottom: 20px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-address {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1, 7;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
}
.footer-page .follow {
  display: flex;
}
.footer-text {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
}
.footer-button {
  display: flex;
  min-width: 200px;
  height: 50px;
  padding: 10px 45px;
  border-radius: 4px;
  text-align: center;
  background: var(--accent-color);
  text-decoration: none;
}

.footer-page .copyright {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 20px;
}

.button-title {
  color: #ffffff;
  text-align: center;
  width: 109px;
  height: 30px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
}
.footer-button .icon {
  width: 24px;
  height: 24px;

  margin-left: 10px;
}
/* hero form */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
/* .is-hidden {
  opacity: 0;
  pointer-events: none;
} */

.hero-form {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;

  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.come {
  display: block;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.form-field {
  position: relative;
}
.comments {
  position: absolute;
  top: 12px;
  left: 16px;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-120%);
}
.form-input {
  width: 448px;
  height: 40px;
  margin-bottom: 28px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-comments {
  position: relative;
}

.textarea {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.agree-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.agree-text .link {
  margin-left: 5px;
  text-decoration: underline;

  color: #2196f3;
}
.send {
  text-align: center;
}
.send-button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.send-button .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 0.06em;
  color: #ffffff;
}
